
services:
  frontend:
    build:
      context: .
      args:
        - DEV=true
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules 
    command: >
      sh -c "npm install && ng serve --host 0.0.0.0"
    environment:
      - API_URL=http://localhost:8000
