<div class="grid grid-cols-4">
  <div>
    <app-module-navigation [configurationItem]="moduleConfig" [iconPath]="iconPath"></app-module-navigation>
  </div>
  
  <div class="flex w-screen justify-center col-span-3">
    <ng-container *ngIf="form$ | async as formData">
      <app-form 
        [formTitle]="formTitle"
        [form]="formData"
        (formSubmit)="onFormSubmit($event)"
        class="w-2/5">
      </app-form>
    </ng-container>
    
    <div *ngIf="isLoading" class="loading">Loading form...</div>
    <div *ngIf="error" class="error">{{ error }}</div>
  </div>
</div>