<!-- form-question.component.html -->
<div class="m-4 flex-auto" [formGroup]="form">
  @if (loading) {
    <div class="loading-indicator">Loading {{ question.label }}...</div>
  }
  @if (error) {
    <div class="error-message">{{ error }}</div>
  }

  @switch (question.controlType) {
    @case ('textbox') {
      <input 
        class="w-full leading-10 border rounded-lg px-4 focus:outline-none placeholder-gray-500" 
        [ngClass]="{
          'border-green-500': form.controls[question.key].valid,
          'border-red-500': form.controls[question.key].invalid && form.controls[question.key].touched
        }"
        [formControlName]="question.key" 
        [id]="question.key" 
        [type]="question.type"
        [placeholder]="question.label"
        required>
    }
    @case ('adressdata') {

      @if (question.key === "ZIP Code" || question.key === "Street" || question.key === "House Number" || question.key === "City") {
        <div class="flex space-x-4 mb-2">
          <input 
            class="w-full leading-10 border rounded-lg px-4 focus:outline-none placeholder-gray-500" 
            [ngClass]="{
              'border-green-500': form.controls[question.key].valid,
              'border-red-500': form.controls[question.key].invalid && form.controls[question.key].touched
            }"
            [formControlName]="question.key"
            [id]="question.key" 
            type="text"
            [placeholder]="question.label"
            required>
        </div>
      }
      @else {
        <h3 class="text-lg font-semibold mb-2">{{question.title}}</h3>
      <div class="flex space-x-4 mb-2">
        <input 
          class="w-full leading-10 border rounded-lg px-4 focus:outline-none placeholder-gray-500" 
          [ngClass]="{
            'border-green-500': form.controls[question.key].valid,
            'border-red-500': form.controls[question.key].invalid && form.controls[question.key].touched
          }"
          [formControlName]="question.key"
          [id]="question.key" 
          type="text"
          [placeholder]="question.label"
          required>
      </div>
      }
      
      
    }
    @case ('contactdata') {
      <h3 class="text-lg font-semibold mb-2">{{ question.label }}</h3>
      <div class="flex space-x-4">
        <input 
          class="w-full leading-10 border rounded-lg px-4 focus:outline-none placeholder-gray-500" 
          [ngClass]="{
            'border-green-500': form.controls[question.key].valid,
            'border-red-500': form.controls[question.key].invalid && form.controls[question.key].touched
          }"
          [formControlName]="question.key"
          [id]="question.key" 
          type="text"
          placeholder="Name"
          required>
        <input 
          class="w-full leading-10 border rounded-lg px-4 focus:outline-none placeholder-gray-500" 
          [ngClass]="{
            'border-green-500': form.controls[question.key].valid,
            'border-red-500': form.controls[question.key].invalid && form.controls[question.key].touched
          }"
          [formControlName]="question.key"
          [id]="question.key" 
          type="text"
          placeholder="Telephone Number"
          required>
      </div>
    }
    @case ('dropdown') {
      <select 
        class="w-full leading-10 border rounded-lg px-4 focus:outline-none"
        [ngClass]="{
          'border-green-500': form.controls[question.key].valid,
          'border-red-500': form.controls[question.key].invalid && form.controls[question.key].touched
        }"
        [formControlName]="question.key">
        <option value="" disabled selected>Select {{ question.label }}</option>
        @for (opt of question.options; track opt.key) {
          <option [value]="opt.key">{{ opt.value }}</option>
        }
      </select>
    }
    @case ('datetime') {
      <input 
        class="w-full leading-10 border rounded-lg px-4 focus:outline-none placeholder-gray-500" 
        [ngClass]="{
          'border-green-500': form.controls[question.key].valid,
          'border-red-500': form.controls[question.key].invalid && form.controls[question.key].touched
        }"
        [formControlName]="question.key" 
        [id]="question.key" 
        [type]="question.type"
        [placeholder]="question.label">
    }
  }

  @if (!isValid) {
    <div class="errorMessage text-red-700">{{ question.label }} ist erforderlich</div>
  }
</div>