
<div class="bg-white h-full grid grid-rows-12 grid-cols-3" >

  <div class="bg-customAlarmplanGray col-span-3 row-span-2 grid grid-rows-10 grid-cols-10">

    <div class="col-start-1 col-end-4 row-start-3 row-end-9 flex items-center">
      <img src="branding/SIXT_Logo_Neg.svg" alt="SIXT-Logo" class="w-full h-full object-contain">
    </div>


    <div class="col-start-4 col-end-10 row-start-4 flex items-start">
      <h1 class="text-white font-bold text-lg md:text-fs-xl">Notfall und Alarmplan</h1>
    </div>


    <div class="col-start-4 col-end-10 row-start-8 flex items-end">
      <h2 class="text-customAlarmplanSubheadline text-sm md:text-fs-300">
        Zugspitzstraße 1 München
      </h2>
    </div>
  </div>


  <div class="grid grid-cols-3 gap-6 mx-6 row-start-3 col-span-3 mt-3 mb-3">

    <div class="col-span-1 grid grid-cols-10 grid-rows-1 bg-gray-600">
      <div class="col-span-9"><h1 class="font-bold col-start-2 text-fs-mobile-subheading ml-3">Verhalten bei Unfällen</h1></div>
      <div class="col-start-10 bg-yellow-500"></div>
    </div>

    <div class="col-span-1 grid grid-cols-10 grid-rows-1">
      <div class="col-span-9 "><h1 class="font-bold col-start-2 ml-3  text-fs-mobile-subheading">Verhalten im Brandfall</h1></div>
      <div class="col-start-10 bg-yellow-500"></div>
    </div>

    <div class="col-span-1 grid grid-cols-10 grid-rows-1">
      <div class="col-span-9"><h1 class="font-bold ml-3 text-fs-mobile-subheading">Wichtige Rufnummern</h1></div>
      <div class="col-start-10 bg-yellow-500"></div>
    </div>
  </div>


  <div class="grid grid-cols-3 col-span-3 row-start-4 row-end-12 gap-6 mx-6">
    <div class="bg-white col-span-1 border-2 border-customAlarmplanGreen">
      <h1 class="text-black font-bold text-center mt-4">RUHE BEWAHREN!</h1>
      <div>
        <h1 class="text-black font-bold mt-4 ml-2">1 Menschen retten - Ersthelfer informieren</h1>
        <div>
        </div>
        <div class="ml-8 text-gray-600 grid grid-cols-2">
          
            @for (person of config().firstAiderDict; track person.id) {

              <p>{{person.name}}</p>
            <p class="text-right mr-2 ">{{person.phoneNumber}}</p>
  
            }
          
        </div>
        <ul class="ml-8 mt-4 list-disc">
          <li>Beseitigung der Unfallgefahr</li>
          <li> Verunglückten aus dem Gefahrenbereich bringen, eigene Sicherheit beachten!</li>
          <li>Feststellen des Bewusstseins</li>
          <li>Atemwege freimachen / Erste Hilfe Maßnahmen</li>
          <li>Verbandkästen befinden sich in allen Filialen und TA-Plätzen</li>
        </ul>
      </div>
      <div>
        <h1 class="font-bold text-black ml-2 mt-4">2 Medizinischer Notruf</h1>
        <div class="ml-8 mr-4">
          <p>Rettungsleitstelle <span class="font-bold text-orange-600">Telefon:112</span></p>
          <p><span class="font-bold text-orange-600">Wo</span>? <span class="font-bold text-orange-600">Was</span> ist passiert? <span class="font-bold text-orange-600">Wie viele</span> Verletzte? <span class="font-bold text-orange-600">Welche</span> Voraussetzungen? <span class="text-orange-600 font-bold">Warten</span> auf Rückfragen!</p>
        </div>
      </div>
      <div>
        <h1 class="font-bold text-black ml-2 mt-4"> 3 Unfall melden und dokumentieren</h1>
        <div class="grid grid-cols-2 ml-8">
          <div class="grid grid-rows-3">
            <div class="flex flex-row mt-1">
              <div class="w-6 h-6"><img [src]="employeeIcon"></div>
              <p class="ml-2">Employee</p>
            </div>
            <div class="flex flex-row mt-1">
              <div class="w-6 h-6"><img [src]="healthIcon"></div>
              <p class="ml-2">Health</p>
            </div>
            <div class="flex flex-row mt-1">
              <div class="w-6 h-6"><img [src]="safetyIcon"></div>
              <p class="ml-2">Safety</p>
            </div>
          </div>
          <div class="w-16 h-16"><img [src]="safetyIcon"></div>
        </div>
      </div>

    </div>
    <div class="bg-white col-span-1 border-2 border-customAlarmplanRed">
      <h1 class="text-black font-bold text-center mt-4">RUHE BEWAHREN!</h1>
      <div>
        <h1 class="font-bold text-black ml-2 mt-4">1 Menschen retten</h1>
        <div class="flex flex-row ml-2 mt-2">
          <h1 class="font-bold text-black">2</h1>
          <div class="w-9 h-9 ml-1 mr-1"><img [src]="fireAlarmIcon"></div>
          <h1 class="font-bold text-black">Feuermelder betätigen</h1>
        </div>
        <div class="grid grid-cols-[1fr_8fr]">
          <div class="ml-2 flex flex-row mt-1">
            <h1 class="text-black font-bold">3</h1>
            <div class="w-9 h-9 ml-1"><img [src]="callFireDepartmentIcon"></div>
          </div>
          <div class="">
            <h1 class="font-bold text-black">Brand sofort melden:</h1>
            <h1 class="font-bold text-orange-600">Telefon: 112</h1>
          </div>

        </div>
        <div class="ml-2 mt-4">
          <h1 class="font-bold text-black">4 Löschversuch unternehmen</h1>
        <p><span class="font-bold text-orange-600">Wo</span> brennt es? <span class="font-bold text-orange-600">Was</span> brennt? Sind <span class="font-bold text-orange-600">Menschen in Gefahr</span>? <span class="font-bold text-orange-600">Wer</span> meldet? <span class="font-bold text-orange-600">Warten</span> auf Rückfragen.</p>
        </div>
        <div class="ml-2 mt-4">
          <h1 class="font-bold text-black">5 Verhalten</h1>
          <div class="ml-8">
            <ul class="list-disc">

              <li>Gefahrenbereich verlassen</li>
              <li>Verletzten und Hilfsvedürftigen helfen</li>
              <li class="flex flex-row">Gekennzeichnette Rettungswege benutzen <div class="w-9 h-9 ml-1"><img [src]="escapeRouteIcon"></div></li>
              <li>Keine Aufzüge benutzen</li>
              <li>Verqualmte Räume in Bodennähe verlassen</li>
              <li>Türen und Fenster schließen</li>
              <li>Entstehungsbrand bekämpfen, sofern Eigenschutz gewährleistet!</li>
              <li class="flex flex-row">Nächster Feuerlöscher in max. 20m <div class="w-9 h-9 ml-1"><img [src]="fireExtinguisherIcon"></div></li>
              <li>Sammelplatz aufsuchen und auf Anweisungen warten:</li>

                <div class="grid grid-cols-[1fr_8fr] mt-1 mb-1">
                  <div class="w-12 h-12"><img [src]="assemblyPointIcon"></div>
                  <div>
                    <p>Ausgang durch</p>
                    <p>{{config().assemblyPoint}}</p>
                  </div>
                </div>

              <li>Feuerwehr einweisen</li>


            </ul>
          </div>

        </div>

      </div>
    </div>
    <div class="bg-white col-span-1 border-2 border-customAlarmplanBlack">
      <h1 class="text-black font-bold text-center mt-4">RUHE BEWAHREN!</h1>
      <div class="grid grid-cols-2 ml-2 mt-4">
        <div class="font-bold text-orange-600">
          <h1>Polizei-Notruf:</h1>
          <h1>Feuerwehr:</h1>
          <h1>Giftnotruf:</h1>
        </div>
        <div class="font-bold text-orange-600 mr-2 text-right">
          <p>110</p>
          <p>112</p>
          <p>{{config().poisonEmergencyCall}}</p>
        </div>
      </div>
      <div class="mt-4 ml-2">
        <h1 class="font-bold text-black">Nächstes Krankenhaus</h1>
        <div class="grid grid-cols-[1fr_8fr]">
          <div class="ml-2">
            <div><p>Name:</p></div>
            <div><p>Adresse:</p></div>
            <div><p>Adresse:</p></div>
          </div>
          <div class="mr-2 text-right">
            <div class="text-rigt mr-2"><p>{{config().nextHospital?.name}}</p></div>
            <div class="text-rigt mr-2"><p>{{config().nextHospital?.street}}</p></div>
            <div class="text-rigt mr-2"><p>{{config().nextHospital?.zipcode}}</p></div>
          </div>
        </div>
        <div class="ml-2 mt-4">
          <h1 class="font-bold text-black">Branch Manager</h1>
          <div class="grid grid-cols-2">
            @for (element of config().addedContact; track element.id) {
              @if (element.contactClass === "BranchManager") {
                <div><p>{{element.name}}</p></div>
            <div class="mr-2 text-right"><p>{{element.phoneNumber}}</p></div>
              }
            }
            
          </div>
        </div>
        <div class="ml-2 mt-4">
          <h1 class="font-bold text-black">Geschäftsleitung</h1>
          <div class="grid grid-cols-2">
            @for (element of config().addedContact; track element.id) {
              @if (element.contactClass === "BranchManager") {
                <div><p>{{element.name}}</p></div>
            <div class="mr-2 text-right"><p>{{element.phoneNumber}}</p></div>
              }
            }
          </div>
        </div>
        <div class="ml-2 mt-4">
          <h1 class="font-bold text-black">Beauftragte für Umweltschutz</h1>
          <div class="grid grid-cols-2">
            @for (element of config().addedContact; track element.id) {
              @if (element.contactClass === "Management") {
                <div><p>{{element.name}}</p></div>
            <div class="mr-2 text-right"><p>{{element.phoneNumber}}</p></div>
              }
            }
          </div>
        </div>
        <div class="ml-2 mt-4">
          <h1 class="font-bold text-black">Safety</h1>
          <div class="grid grid-cols-2">
            @for (element of config().addedContact; track element.id) {
              @if (element.contactClass === "SafetyAdvisor") {
                <div><p>{{element.name}}</p></div>
            <div class="mr-2 text-right"><p>{{element.phoneNumber}}</p></div>
              }
            }
          </div>
        </div>

        <div class="ml-2 mt-4">
          <h1 class="font-bold text-black">QM DE Operation</h1>
          <div class="grid grid-cols-2">
            @for (element of config().addedContact; track element.id) {
              @if (element.contactClass === "QualityManagement") {
                <div><p>{{element.name}}</p></div>
            <div class="mr-2 text-right"><p>{{element.phoneNumber}}</p></div>
              }
            }
          </div>
        </div>

        <div class="ml-2 mt-4">
          <h1 class="font-bold text-black">Betriebsarzt</h1>
          <div class="grid grid-cols-2">
            @for (element of config().addedContact; track element.id) {
              @if (element.contactClass === "CompanyDoctor") {
                <div><p>{{element.name}}</p></div>
            <div class="mr-2 text-right"><p>{{element.phoneNumber}}</p></div>
              }
            }
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

