
<div class="bg-white h-full grid grid-rows-12 grid-cols-3" >

  <div class="bg-customAlarmplanGray col-span-3 row-span-2 grid grid-rows-10 grid-cols-10">

    <div class="col-start-1 col-end-4 row-start-3 row-end-9 flex items-center">
      <img src="branding/SIXT_Logo_Neg.svg" alt="SIXT-Logo" class="w-full h-full object-contain">
    </div>


    <div class="col-start-4 col-end-10 row-start-4 flex items-start">
      <h1 class="text-white font-bold text-lg md:text-fs-xl">Notfall und Alarmplan</h1>
    </div>


    <div class="col-start-4 col-end-10 row-start-8 flex items-end">
      <h2 class="text-customAlarmplanSubheadline text-sm md:text-fs-300">
        Zugspitzstraße 1 München
      </h2>
    </div>
  </div>


  <div class="grid grid-cols-3 gap-6 mx-6 row-start-3 col-span-3 mt-3 mb-3">

    <div class="col-span-1 grid grid-cols-10 grid-rows-1 bg-gray-600">
      <div class="col-span-9"><h1 class="font-bold col-start-2 text-fs-mobile-subheading ml-3">Verhalten bei Unfällen</h1></div>
      <div class="col-start-10 bg-yellow-500"></div>
    </div>

    <div class="col-span-1 grid grid-cols-10 grid-rows-1">
      <div class="col-span-9 "><h1 class="font-bold col-start-2 ml-3  text-fs-mobile-subheading">Verhalten im Brandfall</h1></div>
      <div class="col-start-10 bg-yellow-500"></div>
    </div>

    <div class="col-span-1 grid grid-cols-10 grid-rows-1">
      <div class="col-span-9"><h1 class="font-bold ml-3 text-fs-mobile-subheading">Wichtige Rufnummern</h1></div>
      <div class="col-start-10 bg-yellow-500"></div>
    </div>
  </div>


  <div class="grid grid-cols-3 col-span-3 row-start-4 row-end-12 gap-6 mx-6">
    <div class="bg-white col-span-1 border-2 border-customAlarmplanGreen">
      <h1 class="text-white">Moin Moin</h1>
    </div>
    <div class="bg-white col-span-1 border-2 border-customAlarmplanRed">
      <h1 class="text-white">Moin Moin 2</h1>
    </div>
    <div class="bg-white col-span-1 border-2 border-customAlarmplanBlack">
      <h1 class="text-white">Moin Moin 3</h1>
    </div>
  </div>
</div>

