<div class="bg-sixt-black opacity-90 h-full w-1/6 flex flex-col items-center">

  <div class="w-full h-1/6 object-contain bg-blue-500">
    <img src="" alt="selected-menu">
  </div>




    @for (module of configurationItem(); track module) {
      <div class="mt-3 mb-3 text-white flex flex-col items-center">
        <h1>{{module.title}}</h1>
        <p>{{module.subtitle}}</p>
        <p>T</p>
        <p>T</p>
        <p>T</p>
        <p>T</p>
        <p>T</p>
        <p>T</p>
        <p>T</p>
      </div>

    }


  </div>
